<!DOCTYPE html>

<html>
    <head>
        <title>Jakob Olason</title>
        <link rel="stylesheet" href="../css/index.css">
    </head>
    <body>
        <header>
            <h1>Jakob Olason</h1>
            <ul>
                <li><a href="#">Hobbies</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">My Goals</a></li>
            </ul>
        </header>
        <div id="banner">
            <h1>Insert Text For Welcome</h1>
        </div>
        <div id="Hobbies">
            <h1>Hobbies</h1>
            <h2>I like to..</h2>
            <ul>
                <li>Play Computer Games</li>
                <li>Play Handball</li>
                <li>Tinker with technology</li>
                <li>Make Food</li>
            </ul>
        </div>
        <div id="Projects">
            <h1>Projects</h1>
            <p>I have made some fun small projects. The most significant was my GmailClean app, which I 
                have thought of making for a long time</p>
            <div class="spacer">
                <div class="container">
                    <h2><a href="https://github.com/jakobolason/Gmail-cleaning-service-browser">GmailClean</a></h2>
                    <p>Here i used the Gmail API to do various things with your inbox</p>
                </div>
                <div class="container">
                    <h2><a href="https://github.com/jakobolason/Minesweeper-projekt">Minesweeper</a></h2>
                    <p>I created a badly working Minesweeper for exercise</p>
                </div>
            </div>
        </div>
        <div id="Goals">
            <h1>My Goals</h1>
            <p>I have begun a journey of learning. I do not know what i will learn, or how much, but 
                i know i will start with programming and computer technology. What my next subject will be
                I do not, and will not know.
            </p>
        </div>
        <footer>
            <p>Contact information</p>
            <ul>
                <li>Email: Jakobolason@gmail.com</li>
                <li>Phone: +45 23643173</li>

            </ul>
        </footer>

    </body>
</html