body {
    background-color: #f9f5e8;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    margin: 0 auto;
    display: flex;
    border: 6px double navy; 
    padding: 1em;
    justify-content: space-between;
    align-items: center;
    
}

header h1 {
    margin: 0;
}

#logo {
    justify-content: center;
}

header a {
    color: black;
    text-decoration: none;
}

header ul {
    list-style: none;
    display: flex;
    gap: 1em;
    margin: 0;
    padding: 1em;
    color:black;
    font-size: 1.5em;
    font-style: bold;

}

#banner {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    background-image: url("../../Media/Pictures/Kilimanjaro/Uhuru\ Peak.jpg");
    background-position:center;
    background-size: cover;
    height: inherit;
    min-height: 1000px;
    max-width: 80%;
}

#banner h1 {
    right: 50%;
    margin-top: 4em;
}

#Hobbies {
    margin: 1em auto;
    width: 50%;
    padding: 1em;
    border: 5px solid grey;
    background-color: grey;
    border-radius: 1em;
    color: aliceblue;
}

#Hobbies h1 {
    text-align: center;
    
}

#Projects {
    text-align: center;
}

.spacer {
    margin: 2em;
    display: inline-flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 3em;
    width: 75%
}

.container {
    border: 4px solid navy;
    border-radius: 1em;
    margin: 1px 2em 2em 2em;
    background-color: #f9f5e8;;
    width: 300px;
    height: 130px;
    
}

#Goals {
    text-align: center;
}

.journeys {
    display: flex;
    flex-flow: row wrap;
}

.Iceland-2018 {
    max-width: 100px;
}

footer {
    background-color: #283b5b;
    color: white;
    padding: 20px;
  }
  
  .footer-content {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  
  .contact-info p {
    margin: 5px 0;
  }
  