body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    margin: 0 auto;
    display: inline-flex;
    border: 10px black;
    width: 100%;
    
}

header h1 {
    justify-content: center;
    padding-left: 1em;
}

header a {
    color: black;
    text-decoration: none;
}

header ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: right;
    align-items: end;
    width: 100%;
    padding: 1em;
    color:black;
    font-size:larger;

}

#banner {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    background-image: url("../../Media/Pictures/Uhuru\ Peak.jpg");
    background-position:center;
    background-size: cover;
    height: inherit;
    min-height: 1000px;
    max-width: 80%;
}

#banner h1 {
    right: 50%;
    margin-top: 4em;
}

#Hobbies {
    margin: 1em auto;
    width: 50%;
    padding: 1em;
    border: 5px solid grey;
    background-color: grey;
    border-radius: 1em;
    color: aliceblue;
}

#Hobbies h1 {
    text-align: center;
    
}

#Projects {
    text-align: center;
}

.spacer {
    margin: 2em;
    display: inline-flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 3em;
    width: 75%
}

.container {
    border: 4px solid navy;
    border-radius: 1em;
    margin: 1px 2em 2em 2em;
    background-color: white;
    width: 300px;
    height: 130px;
    
}

#Goals {
    text-align: center;
}

.journeys {
    display: flex;
    flex-flow: row wrap;
}

.Iceland-2018 {
    max-width: 100px;
}

footer {
    background-color: rgb(34, 49, 34);
    color:aliceblue;
}