body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    margin: 0 auto;
    display: inline-flex;
    border: 10px black;
    
}

header h1 {
    justify-content: center;
}

header ul {
    justify-content: right;
    align-items: center;
}

#banner {
    display: flex;
    justify-content: center;
    background-image: url("../../Media/Pictures/Uhuru Peak.jpg");
    background-position: top;
    background-size: cover;
    height: 1000px
}

#banner h1 {
    right: 50%;
    margin-top: 4em;
}

#Hobbies {
    margin: auto;
    width: 50%;
    padding: 1em;
    border: 5px solid grey;
}

#Hobbies h1 {
    text-align: center;
    
}

#Projects {

}

.spacer {
    margin: 2em;
    display: inline-flex;
    justify-content: space-between;
}

.container {
    border: 4px solid green;
    margin: 2em;
    align-items: center;
    justify-items: center;
}

#Goals {

}

footer {
    background-color: rgb(34, 49, 34);
    color:aliceblue;
}